.standart_buttons_container
	.standart_buttons_caption
		h1 STANDARD BUTTONS
	.standart_buttons_buttons
		.button.small_button.button_style_green.standart_buttons_buttons_sectoring
			span BUTTON
		.button.big_button.button_style_green.standart_buttons_buttons_sectoring
			span BUTTON
		.button.big_button.button_style_red.standart_buttons_buttons_sectoring
			span BUTTON
		.button.small_button.button_style_red.standart_buttons_buttons_sectoring
			span BUTTON