.standart_buttons_caption {
	text-align: center;
	height: 319px;
}

.standart_buttons_caption h1 {
	padding-top: 151px;
}

.standart_buttons_buttons {
	text-align: center;
}

.standart_buttons_buttons_sectoring {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 40px;
}

.standart_buttons_buttons_sectoring:first-child {
	margin-left: 0;
}