.locations_container
	.locations
		.locations_caption
			h1 LOCATION
	.locations_map
		#map.myMap
		.locations_map_pin_img
			img(src="./img/pin.png", alt="")
		.locations_map_footer
			.locations_map_footer_caption Meet us!
			.locations_map_footer_adress 1259 California ST San Francisco, CA
			.locations_map_footer_navigations
				img(src="./img/aim.png", alt="")
				img(src="./img/pin2.png", alt="")