.video_container
	.video
		.video_caption
			h1 Video
		.video_content
			video#video1(src="./img/landscape.mp4", width="100%", type='video/mp4', codecs="avc1.42E01E, mp4a.40.2", controls="controls")
		img.for_file-loader(src="img/landscape.mp4", alt="")
		img.for_file-loader(src="img/fullScreenIcon.jpg", alt="")
		.footer