.percentages_caption {
	text-align: center;
	height: 170px;
}

.percentages_caption h1 {
	padding-top: 88px;
}

.box {
	display: inline-block;
}

.box .chart {
	font-size: 70px;
	font-family: 'Conv_Lato-Light';
	position: relative;
	text-align: center;
	width: 172px;
	height: 172px;
	line-height: 180px;
}

.box .chart canvas {
	position: absolute;
	top: 0;
	left: 0;

}