.news-events_container
	.news-events
		.news-events_caption
			h1 NEWS & EVENTS
		.news-events_left
			.news_container
				.news_img
					img(src="./img/news_bicycle.jpg", alt="")
				.news.news_left
					.news_left_caption It&#789;s all going downhill
					.news_left_data 24 AUGUST 2013
					.news_left_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolorum at officia consequatur, minima.
		.news-events_right
			.news_container.margin-left_21
				.news_img
					img(src="./img/news_town.jpg", alt="")
				.news.news_right
					.news_right_data 24 
						span.news_right_data_month Aug
					.news_right_caption THIS IS THE TITLE
					.news_right_text  Lorem ipsum dolor sit amet, consectetur adip
					.news_right_button
						.button.news_right_button_button
							span ADD TO CALENDAR