.search_left,
.search_right {
	width: 50%;
	display: inline-block;
}

.search_caption {
	height: 195px;
	text-align: center;
}

.search_caption h1 {
	padding-top: 122px;
	letter-spacing: 1.9px;
	margin-left: -25px;
}