.search-user_container
	.search-user_left
		.search_caption
			h1 SEARCH / DROP DOWN
		.search_content
			form#search-highlight(action="#", method="post")
				input#term.search(type="text", name="term", placeholder="Search")
				.search-button
					span.search_loupe
						i.i_search_loupe.fa.fa-search
				input.search_error.margin-top_31(type="text", value="I've not found what I'm looking for...")
				span.search_loupe_error
					i.i_search_loupe_error.fa.fa-search
			.results
			ul.searc_select Choose An Option
				li This is option 1
					ul
						li 1
							//- a(href="#") 1
						li 2
							//- a(href="#") 2
						li 3
							//- a(href="#") 3
				li This is option 2
					//- a(href="#") This is option 2
				li This is option 3
					ul
						li 4
							//- a(href="#") 4
						li 5
							//- a(href="#") 5
						li 6
							//- a(href="#") 6
				li This is option 4
					//- a(href="#") This is option 4
				li This is option 5
					//- a(href="#") This is option 5	
	.search-user_right
		.user_caption
			h1 USER PROFILE
		.user_content
			.user_boy_container
				.user_boy
					.user_img
						.user_circle
							img(src="./img/user_boy.jpg", alt="")
					.user_info_container
						.user_info
							.user_info_name John Smith
							.user_info_specialty UX DESIGNER
							.user_info_social
								ul
									li
										a(href="#") 
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-dribbble
			.user_girl_container
				.user_girl
					.user_img
						.user_circle
							img(src="./img/user_girl.jpg", alt="")
					.user_info_container
						.user_info
							.user_info_name Sarah Brown
							.user_info_specialty DEVELOPER
							.user_info_social
								ul
									li
										a(href="#") 
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-dribbble