.arrow_buttons_container
	.arrow_buttons_caption 
		h1 ARROW BUTTONS
	.arrow_buttons_buttons
		.prev
			.icon
				i.fa.fa-angle-left
		.next.margin-left_50
			.icon
				i.fa.fa-angle-right
		.prev.button_condition_disabled.margin-left_50
			.icon
				i.fa.fa-angle-left
		.next.button_condition_disabled.margin-left_50
			.icon
				i.fa.fa-angle-right