.sliders_container
	.sliders_caption
		h1 SLIDERS
	.sliders_content
		.sliders_left
			#slider_left
				span#slider_left_content
		.sliders_right.margin-left_120
			#slider_right
				span#slider_right_content
			span.ruler 0
			span.ruler 25
			span.ruler 50
			span.ruler 75
			span.ruler 100