<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		.container
			.row
				.standart_buttons
					include ./content/standart_buttons/standart_buttons
					include ./content/arrow_buttons/arrow_buttons
					include ./content/percentages/percentages
					include ./content/sliders/sliders
					include ./content/stages/stages
					include ./content/form_elements/form_elements
					include ./content/search/search
					include ./content/news/news
					include ./content/locations/locations
					
		script(src="https://api-maps.yandex.ru/2.1/?apikey=34378f6e-d9bd-4e60-a6bc-9de6326f09ec&lang=en_US", type="text/javascript")