<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		.container
			.row
				.standart_buttons
					include ./content/standart_buttons/standart_buttons
					include ./content/arrow_buttons/arrow_buttons
					include ./content/percentages/percentages
					include ./content/sliders/sliders
					include ./content/stages/stages
					include ./content/form_elements/form_elements
					include ./content/search/search