<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		.container
			.row
				.standart_buttons
					include ./standart_buttons/standart_buttons
					include ./arrow_buttons/arrow_buttons
					include ./percentages/percentages
					include ./sliders/sliders
					include ./stages/stages
					include ./form_elements/form_elements