body {
	margin: 0;
	font-family: 'Conv_Lato-Black';
	letter-spacing: 2px;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
	color: #3D3D3D;
	word-spacing: 8px;
}
ul,
li {
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid black;
    resize: none;
}
.container {
	width: 100%;
}
.row {
	max-width: 1086px;
	margin: 0 auto;
}
i.fa{
	color: black;
	font-size: 24px;
}
.margin-left_50 {
	margin-left: 50px;
}
.margin-left_120 {
	margin-left: 120px;
}
.margin-left_21 {
	margin-left: 21px;
}

.margin-top_23 {
	margin-top: 23px;
}

.margin-top_31 {
	margin-top: 31px;
}