body {
	margin: 0;
	font-family: 'Conv_Lato-Black';
	letter-spacing: 1.9px;
}

h1 {
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
}

.container {
	width: 100%;
}
.row {
	max-width: 1086px;
	margin: 0 auto;
}
i.fa{
	color: black;
	font-size: 24px;
}
.margin-left_50 {
	margin-left: 50px;
}
.margin-left_120 {
	margin-left: 120px;
}

.margin-top_23 {
	margin-top: 23px;
}

.margin-top_31 {
	margin-top: 31px;
}