body {
	margin: 0;
	font-family: 'Conv_Lato-Black';
	letter-spacing: 2px;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
	color: #3D3D3D;
	word-spacing: 8px;
	text-transform: uppercase;
}
ul,
li {
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid black;
    resize: none;
}
.container {
	width: 100%;
}
.row {
	max-width: 1086px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
i.fa{
	color: black;
	font-size: 24px;
}
.margin-left_50 {
	margin-left: 50px;
}
.margin-left_120 {
	margin-left: 120px;
}
.margin-left_21 {
	margin-left: 21px;
}

.margin-top_23 {
	margin-top: 23px;
}

.margin-top_31 {
	margin-top: 31px;
}


@media (max-width: 1140px) {
    h1 {
    	text-align: center;
    	margin-left: 0 !important;
    	padding-left: 0 !important;
    }
    .percentages_chart .box_position:last-child {
    	margin-top: 24px;
	}
	.sliders_content .sliders_left, 
	.sliders_content .sliders_right {
	    display: block;
	    width: 475px;
	    margin: 0 auto;
	    margin-top: 70px;
	}
	.sliders_content .sliders_left{
		margin-top: 50px;
	}
	.sliders_content .sliders_right {
		margin-top: 100px;
	}
	.search-user_container .search-user_right {
		width: 550px;
	}

	.locations .locations_caption {
		margin-left: 0;
	}
	.news-events .news-events_right {
		width: 575px;
	}
	.search-user_container .search-user_left,
	.search-user_container .search-user_right,
	.news-events .news-events_left,
	.news-events .news-events_right,
	.calendar_messaging_container .calendar_container,
	.calendar_messaging_container .messaging_container{
		display: block;
		margin: 0 auto;
	}
	.calendar_messaging_container .calendar_messaging {
		display: block;
		margin: 0 auto;
		margin-top: 96px;
	}
	.calendar_messaging_container .messaging_container {
		margin-left: 0;
	}
}